body {
    background-color: #dbaaaa;
    margin: 0;
}

header {
    text-align: center;
    font-size: 4vmax;
    background-color: #decdcd;
    color: rgb(17, 16, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

nav {
    text-align: center;
    font-size: 1.5vmax;
    background-color: #eacaca;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.header {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
}

.category {
    flex: 20%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

main {
    text-align: center;
    font-family: sans-serif;
    margin-top:5vmax;
    margin-bottom: 10vmax;
    font-size: 1.25vmax;
    color: #ffffff;
}

.startcontent {
    display: flex;
    background-color:#d7bbbb;
    flex-direction: column;
    align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #Dcd3d3;
    padding: 1vmax;
    color: #ffffff;
    width: 60%;
    padding-bottom: 3vh;
    margin-left: 20%;
}

button {
    text-align: center;
    font-size: 1.25vmax;
    color: rgb(255, 255, 255);
    background-color: #d7bbbb;
    border: 0;
    width: 10vw;
    height: 5vh;
    border-radius: 5vmax;
}

img {
    width: 110vh;
    height: 80vh;
}

footer {
    text-align: center;
    font-family:sans-serif;
    font-size: 1vmax;
    background-color:#dcd3d3;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.socialmedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

.logo {
    width: 3vmax;
    height: 3vmax;
    margin: 1.5vmax;
}

.payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

.bank {
    width: 4.5vw;
    height: 7vh;
    margin: 1.5vmax;
}

h2 {
    color: white;
}

p {
    color: white;
}